<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/task.css' %}">
        
    </head>
    <body>
        <div class="title">
            <h1>ToDoList</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-btn">Wyloguj się</a>
            {% endif %}
        </div>
        <div class="form-input">
            <form method="POST" action="">
                {% csrf_token %}
                {{form.title}}
                <input type="submit" id="task-create" name="Create Task" value="Create Task">
            </form>
        </div>
            {% for task in tasks%}
            <div class="task">
                <div class="task-content">
                    {% if task.complete == True %}
                    <strike>{{task}}</strike>
                    {% else %}
                    <span>{{task}}</span>
                    {% endif %}
                </div>
                <div class="task-buttons">
                    <a href="{% url 'update_task' task.id %}" class="a_update">Update</a>
                    <a href="{% url 'delete' task.id %}" class="a_delete">Delete</a>
                </div>
            </div>
            {% endfor %}
       
    </body>
</html>